html,
body,
#root {
  height: 100%;
  background-color: #141414;
}

body {
  background-color: #141414;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
p,
span,
a {
  color: #ffffff;
}

.header {
  background-color: transparent;
}

.header-fundo {
  background-color: #141414 !important;
}

.footer {
  background-color: #141414;
  color: #808080;
}

footer {
  width: 100%;
}

input,
textarea,
[contenteditable="true"],
input::selection,
textarea::selection {
  -webkit-user-select: text;
  user-select: text;
}

html, body {
  overflow-x: hidden;
}